*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

/* Header */
header{
    height: 5.5rem;
    background-color: aqua;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap
}

.logo{
    margin-left: 1vw;
}

header li{
    margin: 0 2vw;
    list-style: none;
}

/* Main */
section.main-top-section{
    padding: 10vh 15vw 0;
    background-color: bisque;
}

section.main-top-section h1{
    background-color: aquamarine;
    height: 10rem;
}

div.flex{
    height: 30rem;
}

section.main-top-section div.container{
    flex-basis: 30%;
    background-color: blue;
}

div img{
    flex-basis: 70%;
    background-color: yellow;
}

section.sub-option{
    padding: 20vh 20vw 0;
    background-color: blueviolet;
}

section.sub-option h1{
    height: 5rem;
    background-color: aquamarine;
    margin-bottom: 3rem;
}

div.columns{
    margin-top: 3rem;
    justify-content: space-between;
    background-color: violet;
    height: 85vh;
}

div.column{
    width: calc(100% / 3 - 2rem);
    background-color: yellow;
}

section.sub-option div.container{
    height: 15rem;
    background-color: turquoise;
    margin-top: 2rem;
}


