*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

/* ----------HEADER---------- */

header{
    height: 5.5rem;
    background-color:#FFFFFF;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
}

header ul{
    align-items: center;
}

header a{
    text-decoration: none;
    color: black;
}

header button{
    background-color: #0061FF;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
}

.main-logo{
    margin-left: 1.5rem;
}

header li{
    margin: 0 2vw;
    list-style: none;
}

/* ----------MAIN---------- */

.padding{
    padding: 20vh 20vw 0;
}

/* JUMBO */
section.jumbo{
    padding: 10vh 15vw 0;
    background-color:#B4D0E7;
}

section.jumbo h1{
    font-size: 7rem;
    margin-bottom: 5rem;
}

section.jumbo div.flex{
    height: 30rem;
}

section.jumbo div.container{
    flex-basis: 30%;
    font-size: 1.3rem;
}

section.jumbo div.container button{
    margin: 3rem 0;
    background-color: #0061FF;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
}

section.jumbo div.container span{
    display: block;
}

section.jumbo img{
    flex-basis: 70%;
    height: 60vh;
}

/* SUB OPTIONS */
.padding-option{
    padding: 3rem 1.5rem;
}

section.sub-option h1{
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

div.options{
    margin-top: 3rem;
    justify-content: space-between;
}

div.option{
    width: calc(100% / 3 - 2rem);
    border: 1px gray solid;
}

div.option h2{
    text-align: center;
    padding: 0.5rem 0;
    font-size: 1.4rem;
    font-weight: 200;
}

div.option h3{
    font-size: 2rem;
}

div.option span{
    display: block;
}

div.option span.plan-billing{
    color: gray;
}

div.option span.plan-billing,
div.option span.plan-price{
    margin-top: 0.5rem;
}

div.padding-option ul{
    margin-top: 3rem;
    list-style: none;
}

div.padding-option ul li{
    margin-top: 1rem;
}

div.padding-option button{
    margin: 3rem 0;
    background-color: #0061FF;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
}

div.separator{
    margin: 4rem 0;
    height: 1px;
    width: 7rem;
    background-color: rgb(173, 173, 173);
}

div.padding-option ul:last-child li::before{
    content: "\2713";
    color: #0061FF;
}

div.option-fw{
    border: 1px gray solid;
    margin-top: 2rem;
}


div.option-fw h2{
    text-align: center;
    padding: 0.5rem 0;
    font-size: 1.4rem;
    font-weight: 200;
}

div.padding-option-fw{
    padding: 1.5rem;
    position: relative;
}

div.padding-option-fw h3{
    margin-bottom: 2rem;
}

div.padding-option-fw p{
    margin-top: 3rem;
}

div.padding-option-fw button{
    background-color: #0061FF;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    position: absolute;
    top: 15%;
    right: 3%;
}

/* DROP PARTNERS */
section.drop-partners img{
    flex-basis: 55%;
    height: 35rem;
}

section.drop-partners div.container{
    flex-basis: 45%;
    padding: 4rem 3rem 0;
}

section.drop-partners div.container p{
    margin: 3rem 0;
    font-size: 1.2rem;
}

section.drop-partners div.container button{
    padding: 0.5rem 1rem;
    background-color: white;
    font-size: 1.2rem;
    border: 1px solid black;
}


/* DROP FUNCTIONS */
section.drop-functions h1{
    font-size: 3rem;
    margin-bottom: 3rem;
}

section.drop-functions div.functions{
    flex-wrap: wrap;
}

section.drop-functions div.function{
    flex-basis: calc(100% / 3 - 4rem);
    margin: 2rem;
}

section.drop-functions div.function img{
    width: 100%;
}

section.drop-functions div.function h2{
    margin-bottom: 2rem;
}
/* OUR CLIENTS */
section.our-clients h1{
    height: 5rem;
    background-color: yellowgreen;
}

section.our-clients a{
    height: 3rem;
    background-color: steelblue;
    display: block;
}

div.about-us div.logos{
    flex-basis: calc(100% / 3);
    height: 40rem;
    background-color: slateblue;
    flex-wrap: wrap;
}

div.about-us div.logo{
    flex-basis: 50%;
    height: 20rem;
    background-color: rgb(139, 101, 139);
}

/* FREE TRIAL */
section.free-trial{
    height: 30rem;
}

section.free-trial h1{
    flex-basis: 70%;
    background-color: antiquewhite;
}

section.free-trial button{
    flex-basis: 30%;
    background-color: rgb(255, 153, 0);
}

/* FAQ */
section.faq button h2{
    padding: 2rem 20.9rem 2rem 0;
}

section.faq button{
    border: none;
}

/* ----------FOOTER---------- */

footer{
    height: 38rem;
    padding: 10vh 15vw 0;
    background-color: #000000;
}

section.footer-top{
    height: 24rem;
    color: white;
}

section.footer-top div.container{
    flex-basis: calc(100% / 5);
    background-color: rgb(58, 58, 58);
}

footer li{
    list-style: none;
}

footer div.separator{
    height: 1px;
    width: 7rem;
    background-color: white;
}

footer select{
    margin-top: 3rem;
}